<!DOCTYPE html>
<html>
<head>
  <title>SIES GST | Admin Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;
padding: 10px;}
* {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 5px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #068481;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.delete{
    background-color: #fd1200;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;

}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>

<h2>Add Student</h2>
  <br>
<form class="form-inline" action="/addstud" method="POST" onkeydown="return event.key != 'Enter';">
<div class="container1">
    <div style = "padding-bottom: 20px;border-bottom: 1px solid #068481">
    <label for="prn">PRN</label>
    <input type="text" id="prn" placeholder="Enter PRN" name="prn">
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="Enter email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="pwd" placeholder="Enter password" name="password">
  <label for="placement_Status">Placement Status:</label>
  <input type="text" id="ps" placeholder="Enter Status" name="placement_Status">
  </div>
  </div>
  <button type="submit">Submit</button>
</form>
<br>
<a href="test" style = "text-decoration: none; color:#fff;background-color: #068481; padding: 10px 20px 10px 20px">Upload using CSV</a>
</body>
</html>