<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <title>SIES GST Placements</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="text/css" href="images/logo_50x50.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .all_content{
        margin-inline-start: 6%;
        margin-block-start: 5%;
        margin-block-end: 5%;
        text-align: center;
    }
    .bg {
  /* The image used */
  background-image: url("back-download.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    </style>
</head>

<body style="background-color: rgba(88, 202, 206, 0.459);">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <div class="bg"></div>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar navbar-expand-lg navbar-dark static-top">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="img/SIES_Spinner.png" alt="Logo" width="50" height="50">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="placements">Placements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="download">Downloads<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="login">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
        <div class="all_content">
            <div class="content">
                <h2>SIES Graduate School of Technology</h2>

                <p>Official app for placement tracking</p>
                <p>You can download this app on
                <p>
            </div>
            <img src="img/download.jpeg" alt="image of app" width="20%" height="40%">

                <h2>For Web App</h2>

                <p>Click on Download button</p>
                <button class="btn"><i class="fa fa-download"></i> Download</button>
        </div>

    </div>
    <footer class="footer-distributed">

        <div class="footer-left">

            <!--<h3>Company<span>logo</span></h3>-->
            <h1><img src="img/GST2.png" alt="SIES GST LOGO" style="width:60%;height:60%;"></h1>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker" style="text-align: center;"></i>
                <p>Sri Chandrasekarendra Saraswati Vidyapuram Sector-V,<br>Nerul, Navi Mumbai, Maharashtra 400706</p>
            </div>

            <div>
                <i class="fa fa-phone" style="text-align: center;"></i>
                <p>7039187371</p>
            </div>

            <div>
                <i class="fa fa-envelope" style="text-align: center;"></i>
                <p><a href="mailto:amitsce118@gst.sies.edu.in">amitsabkale29@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>SIES Graduate School of Technology</span>
                SIES Graduate School of Technology (SIES GST) is an engineering college, an integral part of SIES, and
                was
                started in the year 2002.
                It is one of the Institutes in Navi Mumbai imparting Engineering Technical Education.
                Affiliated to the University of Mumbai, AICTE Approved, NAAC Accredited.

            </p>

            <!-- <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>
      -->
        </div>

    </footer>
</body>

</html>
