<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/form.css">
</head>

<body>
	<form>
		<label for="title"><strong>Name</strong></label><br>
		<input type="text" name="title" placeholder="Enter your name" class="title" />
		<label for="wdym"><strong>PRN</strong></label><br>
		<input type="text" name="wdym" placeholder="Enter your PRN" class="wdym" />
		<div class="branch">
		<label for="branch"><strong>Branch</strong></label>
		<select id="select">
		<option value="branch">--Select your branch--</option>
		<option value="CE">CE</option>
		<option value="IT">IT</option>
		<option value="MECH">MECH</option>
		<option value="EXTC">EXTC</option>
		<option value="PPT">PPT</option>
		</select>
		</div>
		<label for="avatar"><strong>Phone Number</strong></label>
		<input type="number" name="title" placeholder="Enetr your phone number" class="title" />
		<label for="avatar"><strong>Email</strong></label>
		<input type="email" name="title" placeholder="Enter your mail id" class="title" />
		<input name="submit" class="btn" type="submit" value="Update"/>
	</form>
</body>

</html>