<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIES GST Placements</title>
	<link rel="stylesheet" href="css/form.css">
</head>

<body>
	<form action="/announceform" method="POST">
		<label for="title"><strong>Title</strong></label><br>
		<input type="text" name="annstitle" placeholder="Enter Title" class="title" />
        <label for="description"><strong>Description</strong></label><br>
		<textarea rows="4" cols="50" name="annsdescription" placeholder="Description" class="description"></textarea>
		
		<label for="avatar"><strong>Link</strong></label>
		<input type="text" name="annslink" placeholder="Enter Url of your link" class="title" />
		<input name="submit" class="btn" type="submit" value="Update"/>
	</form>
</body>

</html>