<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIES GST Placements</title>
	<link rel="stylesheet" href="css/form.css">
</head>

<body>
	<form action = "/formteacher" method="POST">
		<label for="title"><strong> First Name</strong></label><br>
		<input type="text" name="upfname" placeholder="Enter your name" class="title" />
		<label for="title"><strong> Last Name</strong></label><br>
		<input type="text" name="uplname" placeholder="Enter your name" class="title" />
		<label for="title"><strong>BRANCH</strong></label><br>
		<div class="branch">
		<select id="select" name="upbranch">
		<option value="branch">--Select your branch--</option>
		<option value="CE">CE</option>
		<option value="IT">IT</option>
		<option value="MECH">MECH</option>
		<option value="EXTC">EXTC</option>
		<option value="PPT">PPT</option>
		</select>
		</div>
		<label for="avatar"><strong>Phone Number</strong></label>
		<input type="number" name="upphone" placeholder="Enetr your phone number" class="title" />
		<input name="submit" class="btn" type="submit" value="Update"/>
	</form>
</body>

</html>