<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIES GST Placements</title>
	<link rel="stylesheet" href="css/form.css">
</head>

<body>
	<form action="scgpiform" method="POST">
		
		<label for="wdym"><strong>CGPI</strong></label><br>
		<input type="number" name="scgpi" placeholder="Enter your CGPI" class="wdym" />
        <label for="title"><strong>Skills</strong></label><br>
		<input type="text" name="sskill" placeholder="Enter your name" class="title" />
        <label for="title"><strong>Achivements</strong></label><br>
		<input type="text" name="sachive" placeholder="Enter your name" class="title" />
		
		
		<input name="submit" class="btn" type="submit" value="Update"/>
	</form>
</body>

</html>